//Paleta de colores
:root{
    --color1: #B91817;
    --color2: #333;
    --color3: #000;
    --color4: #fff;
}
h1{
    border: 0;
    margin: 0;
    padding: 0;
}
//Formateo de la pagina y asignacion de fuente
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gruppo';
}
#cabeza{
    background-color: var(--color1);
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    &-logocorto{
        border: 1px white solid;
        display: flex;
        height: 100%;
        width: 100px;
        justify-content: center;
        margin-left: 20px;
        &-link{
            display: flex;
            align-items: center;
            img{
                height: 80%;
            }
        }
    }
    &-logocompletolink{
        height: 100%;
        img{
            height: 100%;
        }
    }
    &-carrito{
        height: 100%;
        &-link{
            height: 100%;
            display: flex;
            &-imagen{
                height: 100%;
            }
        }
    }
}