*{
    font-family: 'Gruppo';
}

body{
    margin: 0;
    padding: 0;
}

header{
    background-color: red;
    padding: 30px;
}

footer{
    background-color: #555555;
    padding: 30px;
}

#cabeza #carritoDiv a{
    text-decoration: none;
    font-size: 50px;
}

img{
    height: 100px;
}